.bodycolor {
  background-color: #F4F6F6;  
  min-height: 110vh;
}
.info { 
  margin-top: 30px;
  
}
#fsize{
font-size: 35px; 
}
.box {
  background-color: #FFF;  
  width: 100%;
  height: 40%;
  padding: 40px 20px 0px 20px;
  border-radius: 15px;
}
#images{
  width: 100%;
  height: 50%;
}

#forgotpassword{
  color: #F1C40F ;
}

